/*card styles*/
.card-container {
    width: 250px;
    border: 1px solid green;
}

.card-image {
    width: 100%;
    display: block;
}

.card-body {
    padding: 10px;
}
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #29344a;
    margin-top: 10px;
}
.card-text {
    margin-top: 10px;
}
.card-button {
    height: 30px;
    width: 90px;
    margin-top: 10px;
    border: none;
    background-color: #3067c4;
    color: white;
}
